body {
    background-image: url(images/back1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    position: absolute;
    width: 14em;
    height: 13em;
    margin-left: 1em;
    margin-top: 1em;
}